@import "tailwindcss";
/* @import "tw-animate-css"; */
/* @import "shadcn/tailwind.css"; */
/* @import "@fontsource-variable/geist"; */

.mugshot {
  /* overflow: hidden; */

  border-radius: 50%;

  /* Step 1: Set the dimensions you want to crop the image down to */
  width: 250px;
  /* height: 450px; */
  
  /* Step 2: Prevent distortion and crop the image automatically to fill the box */
  /* object-fit: cover;  */
  
  /* Step 3: Add your desired border (width, style, color) */
  border: 2px solid #ffffff; 
  
  /* Optional: Center the crop focus (e.g., center, top, bottom, left, right) */
  /* object-position: center;  */
}

.box {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
